@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form asp-action="SetA" method="post">
    <button type="submit" class="btn btn-primary">Set A to 10</button>
</form>

<form asp-action="GetA" method="get">
    <button type="submit" class="btn btn-secondary">Get A Value</button>
</form>

<p>Value of A: @ViewBag.AValue</p>